/*
#  Copyright 2019, Jared Sagendorf, All rights reserved.
#  
#  Correspondance can be sent by e-mail to Jared Sagendorf <sagendor@usc.edu>
#  
#  This program is free software; you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation; either version 2 of the License, or
#  (at your option) any later version.
#  
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
*/
.news {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
    max-height: 100vh;
    overflow-y: auto;
}

.last-updated {
    font-size: small;
    text-transform: uppercase;
    background-color: #fffdd4;
}

.carousel-item img {
    max-width: 75%;
    height: 500px;
    margin: auto;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}
.blink{
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.75s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
}