/*
#  Copyright 2019, Jared Sagendorf, All rights reserved.
#  
#  Correspondance can be sent by e-mail to Jared Sagendorf <sagendor@usc.edu>
#  
#  This program is free software; you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation; either version 2 of the License, or
#  (at your option) any later version.
#  
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
*/
.category-group-sub2 {
    /* margin-left: 5%; */
    background-color: "#DCDCDC";
}

.panel-protein {
    border-color: #01796F;
}

.panel-protein > .card-header {
    background: #01796F;
    color: #ffffff;
    border-color: #01796F;
}

.panel-dna {
    border-color: #996699;
}

.panel-dna > .card-header {
    background: #996699;
    color: #000000;
    border-color: #996699;
}

.panel-interaction {
    border-color: #34DDDD;
}

.panel-interaction > .card-header {
    background: #34DDDD;
    color: #ffffff;
    border-color: #34DDDD;
}

.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

.gloss-icon {
    cursor: pointer;
}

fieldset.menu-header {
    border: 1px groove #aaa !important;
    padding: 0 1.0em 1.0em 1.0em !important;
    margin: 0 0 1.2em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

legend.menu-header {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 5px;
    border-bottom: none;
}

label.no-bold {
    font-weight: normal;
}

.vertical-separator {
    content: ' ';
    display: block;
    /*float: left;*/
    background: #ADADAD;
    margin: 0 10px;
    height: 25px;
    width: 1px;
}

hr.feature-separator {
    border: none;
    height: 1px;
    background-color: #aaa;
    margin-top: 3px;
    margin-bottom: 3px;
}

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.2;}
}
.blink{
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.85s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
}